<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="phongtaph31865.poly.stayserene">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo02"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo02"
        android:supportsRtl="true"
        android:theme="@style/Theme.StaySerene"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Screen_user.Messenger.Activiti_messenger_list_hotel"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Messenger.Activiti_list_messenger"
            android:exported="false" />
        <activity
            android:name=".Login_Register.ForgotPass.Activity_otp_authen"
            android:exported="false" />
        <activity
            android:name=".Login_Register.ForgotPass.Activity_type_phone_number"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Setting.Activity_policy"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Activity_more_hotel"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Setting.Activity_change_id_card"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Activity_changePass"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.OrderRoom.Activity_show_detail_booking"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.OrderRoom.Activity_payment_method"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.OrderRoom.Activity_order_room"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Screen_user.Activity.OrderRoom.Activity_detail_type_rooms"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Activity_list_type_room"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Activity_detail_room"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Setting.Information"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Setting.Setting"
            android:exported="false" />
        <activity
            android:name=".Login_Register.Add_phoneNumber"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Detail_room_screen"
            android:exported="false" />
        <activity
            android:name=".Login_Register.Register"
            android:exported="false" />
        <activity
            android:name=".Login_Register.Loginscreen"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.MainActivity_user"
            android:exported="false" />
        <activity
            android:name=".Login_Register.Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>