<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="phongtaph31865.poly.stayserene" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION " />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo02"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo02"
        android:supportsRtl="true"
        android:theme="@style/Theme.StaySerene"
        tools:targetApi="31" >
        <activity
            android:name=".Screen_user.Activity.Activity_detail_room"
            android:exported="false" />
        <activity
            android:name=".Screen_admin.Activity_admin.Activity_customer_management"
            android:exported="false" />
        <activity
            android:name=".Screen_admin.Activity_admin.Activity_room_management"
            android:exported="false" />
        <activity
            android:name=".Screen_admin.Activity_admin.Activity_account_management"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Information"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Setting"
            android:exported="false" />
        <activity
            android:name=".Login_Register.Activity_success"
            android:exported="false" />
        <activity
            android:name=".Login_Register.Add_phoneNumber"
            android:exported="false" />
        <activity
            android:name=".Screen_user.Activity.Detail_room_screen"
            android:exported="false" />
        <activity
            android:name=".Login_Register.Register"
            android:exported="false" />
        <activity
            android:name=".Login_Register.Loginscreen"
            android:exported="false" />
        <activity
            android:name=".Screen_admin.Activity_admin.MainActivity_admin"
            android:exported="true" />
        <activity
            android:name=".Screen_user.Activity.MainActivity_user"
            android:exported="false" />
        <activity
            android:name=".Login_Register.Welcome"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>